{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-6xl mt-14">Новая PVE-игра - Танки</h1>
        <p class="text-3xl max-w-md mt-5 mx-auto text-justify">Уничтожай врагов, зарабатывай очки, просматривай статистику, соревнуйся с игроками со всего мира, стань лучшим в новой PVE-игре - Танки!</p>
        <button class="rounded-md bg-purple-600 hover:bg-purple-700 text-3xl mt-5 text-white font-medium px-5 py-2.5 inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            Скачать
        </button>
    </div>
{% endblock %}